<div class="row">
    <div class="col-md-12 pad-10">
      <button type="submit" class="btn btn-primary" (click)="goToAddBoss()">
        <span class="glyphicon glyphicon-floppy-disk"></span> Ajout Boss
      </button>
    </div>
  </div>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>NameEN</th>
      <th>NameFR</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let boss of bosses$| async;">
      <td>{{ boss.Id }}</td>
      <td>{{ boss.NameEN }}</td>
      <td>{{ boss.NameFR }}</td>
      <td>
        <div>
          <button class="btn" (click)="deleteBoss(boss.Id)">Supprimer</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
